/* Reset CSS */
body {
    background-image: url('/assets/img/anhnen/anhnen.png');
    background-size: cover; /* Để đảm bảo ảnh nền kích thước phù hợp */
    background-repeat: no-repeat;
  }

h1 {
    font-size: 173px;
    color: red;
}

p {
    margin-top: 16px;
    font-size: 42px;
    color: rgb(27, 154, 99);
}